:host {
  display: block;
  width: 100%;
}

.progress {
  min-height: 0.75rem;
  align-items: stretch;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .progress-label {
    font-size: 0.75rem;
    line-height: 1;
    padding: 0 0.5rem;
    user-select: none;
  }
}
