<!-- Alto consistente con tu layout (56px) -->
<div class="hb d-flex align-items-center px-3 gap-3">
  <!-- Izquierda: texto/título -->

  @if(!hideTitle){
  <h5 class="hb-title mb-0 fw-semibold text-truncate">{{ title }}</h5>
  }

  <!-- Derecha: acciones -->
  <div class="ms-auto hb-actions d-inline-flex align-items-center gap-2">
    <!-- Fullscreen -->
    <button
      type="button"
      class="btn p-0 border-0 bg-transparent shadow-none d-inline-flex align-items-center justify-content-center text-white"
      (click)="onFullscreenToggle()"
      [attr.aria-pressed]="isFullscreen"
      [attr.aria-label]="
        isFullscreen ? 'Salir de pantalla completa' : 'Pantalla completa'
      "
      [title]="
        isFullscreen ? 'Salir de pantalla completa' : 'Pantalla completa'
      "
    >
      <i
        class="fa fs-4"
        [ngClass]="isFullscreen ? 'fa-expand' : 'fa-compress'"
      ></i>
    </button>

    <!-- Refresh -->
    <button
      type="button"
      class="btn p-0 border-0 bg-transparent shadow-none d-inline-flex align-items-center justify-content-center text-white"
      (click)="onRefresh()"
      aria-label="Refrescar"
      title="Refrescar"
    >
      <i class="fa fa-refresh fs-4"></i>
    </button>

    <!-- Ocultar/Mostrar sidebar -->
    <button
      type="button"
      class="btn p-0 border-0 bg-transparent shadow-none d-inline-flex align-items-center justify-content-center text-white"
      (click)="onToggleSidebarHiddenClick()"
      [attr.aria-pressed]="sidebarHidden"
      [attr.aria-label]="sidebarHidden ? 'Mostrar sidebar' : 'Ocultar sidebar'"
      [title]="sidebarHidden ? 'Mostrar sidebar' : 'Ocultar sidebar'"
    >
      <i
        class="fa fs-4"
        [ngClass]="sidebarHidden ? 'fa-chevron-right' : 'fa-chevron-left'"
      >
      </i>
    </button>
  </div>
</div>
