<div class="row g-3">
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header">Quick Chart</div>
      <div class="card-body">
        <dx-chart [dataSource]="data">
          <dxi-series
            argumentField="category"
            valueField="value"
            type="bar"
          ></dxi-series>
        </dx-chart>
      </div>
    </div>
  </div>
</div>
