<app-navbar (toggleSidebar)="onToggleSidebar()" />
<div
  class="layout"
  [class.sidebar-hidden]="sidebarHidden()"
  [class.sidebar-collapsed]="collapsed()"
>
  <app-sidebar
    class="sidebar"
    [items]="menuItems()"
    [style.display]="sidebarHidden() ? 'none' : null"
    [compactSearchInPanel]="true"
    [compactHideIconsInPanel]="false"
  />
  <main class="main">
    <app-breadcrumbs class="app-breadcrumbs" />
    <app-headbar
      class="app-header"
      [sidebarHidden]="sidebarHidden()"
      (toggleSidebarHidden)="onToggleSidebarHidden()"
    />
    <section class="content">
      <div class="card">
        <div class="card-body">
          <router-outlet />
        </div>
      </div>
    </section>
  </main>
</div>
